
body {
    background: #0a0e23;
    color: #b2c5d8;
    font-family: "Space Mono", monospace;
}

hr {
    color: #6a8198;
    background: #06f72f;
    box-shadow: 2px 2px 5px #09c706;
}

textarea,input,select {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    border: 1px solid #a700fd;
    background-color: #100c31;
    color: #0080ff;
    background-clip: padding-box;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}




textarea::placeholder, input::placeholder  {
    color: #0080ff;
}

.text-muted {
    color: #4b617b;
}

#error {
    color: red;
}