{{template "base" .}}
{{define "title"}}Home{{end}}

{{define "main"}}

<div class="col-md-6">

    {{if .Error}}

        {{.Message}}
        <br />
        <br />

        <input type="password" name="password" placeholder="Password" />
        <div id="error" class="invisible"><p><strong>Error:</strong> <span class="errmsg"></span></p></div>
        <button type="button" onclick="unlock_secret()" class="btn btn-outline-success">Unlock Secret</button>
        <br />
        <br />
        <div id="the-secret" class="invisible">
            <h2>Your Secret:</h2>
            <p></p>
        </div>

    {{else}}

        {{if not .Message}}

            <p style="color: yellow">No secrets for you my friend...</p>

        {{else}}

            <h2>Your Secret:</h2>
            <p>{{.Message}}</p>

        {{end}}

    {{end}}

</div>


{{ end }}